body,html{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;

}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.publick_header {
    width: 100%;
    height: 72px;
    padding: 0 0.4rem;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    background: #333333;
    position: relative;
}
.header_logo {
    width: 120px;
    height: 40px;
}
.header_logo > img{
	width: 180px;
	height: 40px;
}
.falgs{
	position: fixed;
	top: 20px;
	right: 15px;
	width: 30px;
	height: 30px;
}
.falgs > img{
	width: 20px;
	height: 20px;
}
/*段超群*/
.D_wrap {
    padding: 0 0.4rem 0.3rem;
    width: 100%;
    box-sizing: border-box;
    background: #F2F2F2;
    overflow: hidden
}
.D_temTit {
    width: 7.16rem;
    height: 0.66rem;
    margin: 0.25rem auto 0 auto;
    text-align: center;
    font-size: 0.4rem;
}
.D_tembut {
    font-size: 0.14rem;
    text-align: center;
    color: #666;
}
.D_title {
    padding-bottom: 0.24rem;
    border-bottom: 1px solid #ccc
}
.D_search{
    border-bottom: 1px solid #ccc;
    position: relative;
}
.D_search  input{
    padding: 0.1rem 0.1rem;
    border-radius: 3px;
    border:1px solid #e0e0e0;
    font-size: 0.14rem;
    box-sizing: border-box;
}
.D_search a:hover{
    color: #0094CC;
}
.D_search{
    padding: 0.15rem 0.05rem;
}
.D_container{
    margin-top: 0.3rem;
    border-right: 1px solid #ccc;
    float: left;
    box-sizing: border-box;
}
.D_project{
    float: left;
    box-sizing: border-box;
}
.D_sidelist{
    margin-top: 0.3rem;
}
.D_stychange{
    font-size: 0.14rem;
    padding: 0.1rem 0.05rem;
    transition: .5s;
    background: #ddd;
    border-radius: 0.05rem;
    color: #0088C2;
    cursor: pointer;
    position: relative;
}
.D_stychange_b{
    font-size:  0.14rem;
    padding: 0.1rem 0.05rem;
    transition: .5s;
    cursor: pointer;
    position: relative;
}
.D_stychange > span {
    right: -0.2rem;
}
.D_stychange_b > span{
    right: -0.2rem;
}
.D_sidelist li span{
    float: right;
}
.D_pro_list{
    padding: 0.2rem 0.1rem;
    font-size: 0.14rem;
}
.D_selist{
    float: left;
    padding: 0.1rem;
    font-size: 0.13rem;
    border: 1px solid #ccc;
    margin: 0.1rem 0 0 0.1rem;
    border-radius: 5px;
    background: #0088C2;
    color: white;
    transition: .5s;
    cursor: pointer;
}
.D_selist_b{
    float: left;
    padding: 0.1rem;
    font-size: 0.13rem;
    border: 1px solid #ccc;
    margin: 0.1rem 0 0 0.1rem;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.D_allcon{
    padding-bottom: 0.3rem;
    margin-top: 0.2rem;
}
.D_allcon li{
    float: left;
    margin-right: 0.15rem;
    margin-left: 0.2rem;
    margin-bottom: 0.25rem;
    transition: .5s;
    box-shadow: 0 0.05rem 0.05rem #F2F2F2;
    position: relative;
    z-index: 1;
    background: #F2F2F2;
}
.D_allcon li img{
    display: block;
    width: 100%;
}
.D_allcon li div:nth-child(2){
    background: white;
    width: 100%;
    height: 1.6rem;
    padding: 0.3rem 0.1rem 0.1rem 0.1rem;
    box-sizing: border-box;
}
.shadow{
    background: #F2F2F2;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: -1;
    transform-origin: 0 100%;
    transition: .3s;
}
.shadow_f{
    background: #F2F2F2;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: -2;
    transform-origin: 50% 50%;

}
.D_allcon li:hover{
    transform: scale(1.03);
}
.D_allcon li:hover .shadow{
    background: rgba(186,1,1,.3);;
    transform: rotate(3deg) ;
    transition: .5s;
}
.D_allcon li:hover .shadow_f{
    background: rgba(15,197,66,.3);
    transform: rotate(-5deg);
    transition: .5s;
}
.D_conTit{
    font-size: 14px;
    width: 50%;
}
.D_conhref{
    width: 100%;
    margin-top: 0.3rem;
    padding-top: 0.15rem;
    border-top: 1px dotted #dedede;
}
.D_conhref button{
    width:0.8rem;
    padding: 0.05rem;
    border:1px solid #ccc;
    float: right;
    color: white;
    background: black;
}
.D_conhref a{
    color: white;
    text-decoration: none;
    display: block;
}
.D_conhref a:visited{
    color: white;
}
.D_loading{
    display: block;
    margin: 0 auto;
}
.D_searchlist li{
    width: 1.6rem;
    padding: 0.05rem;
    border-right:1px solid #ccc;
    box-sizing: border-box;
    transition: .5s;
    cursor: pointer;
    margin-top: 10px;
}
.D_searchlist li:hover{
    color: #0088C2;
    box-shadow: 0 0 5px #ccc;
}
.D_sidebarWrap{
    position: fixed;
    z-index: 9999999999;
    top:50vh;
    right: -90px;
}
.D_sidebarWrap li{
    width: 140px;
    height:50px;
    padding: 10px 0;
    position: relative;
    right: 0;
    background: rgb(49, 53, 61);
    transition: .7s;
    border-radius: 10px 0 0 10px;
}
.D_sidebarWrap li:nth-child(1):hover{
    right: 90px;
    background-color: #61B0FF;
}
.D_sidebarWrap li:nth-child(2):hover{
    right: 90px;
    background-color: #61B0FF;
}
.D_sidebarWrap li:nth-child(1):hover div{
    color: white;
}
.D_sidebarWrap li:nth-child(2):hover div{
    color: white;
}
.D_sidebarWrap li:nth-child(1) div{
    width: 60%;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-family: 微软雅黑;
}
.D_sidebarWrap li:nth-child(2) div{
    width: 60%;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-family: 微软雅黑;
}
.D_sidebarWrap li:nth-child(3) div{
    width: 150px;
    height:150px;
    background: #ccc;
    position: relative;
    left: 0;
    text-align: center;
    line-height: 150px;
    opacity: 0;
    transition: 1s;

}
.D_sidebarWrap li:nth-child(3):hover div{
    opacity: 1;
    left: -180px;
}
.D_sidebarWrap li a:hover{
    color: black;
}
.D_sidebarWrap li:nth-child(1) a p{
    width: 30px;
    height: 30px;
    margin:0 10px;
    float: left;
    background: url("images/sidebar.png") no-repeat  -40px -40px;
}
.D_sidebarWrap li:nth-child(2) a p{
    width: 30px;
    height: 30px;
    margin:0 10px;
    float: left;
    background: url("images/sidebar.png") no-repeat  -40px 0;
}
.D_sidebarWrap li:nth-child(3) a p{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    float: left;
    background: url("images/sidebar.png") no-repeat  -40px -80px;
}
@media only screen and (min-width: 992px) {
    .D_container{
        width: 15%;
    }
    .D_project{
        width: 85%;
    }
    .D_search  input{
        width: 1.6rem;
    }
    .D_stychange{
        width: 1.8rem;
    }
    .D_stychange_b{
        width: 1.6rem;
    }
    .D_allcon li{
        width: 3rem;
    }
    .D_search span{
        margin-top: 0.15rem;
        margin-left: -0.25rem;
    }
}
/*段超群*/
@media only screen and (max-width: 992px) {
    .D_search{
        border-bottom: 1px solid #ccc;
        position: relative;
    }
    .D_search  input{
        padding: 0.3rem 0.1rem;
        border-radius: 3px;
        border:1px solid #e0e0e0;
        font-size: 0.14rem;
        box-sizing: border-box;
    }
    .D_search a:hover{
        color: #0094CC;
    }
    .D_search{
        padding: 0.15rem 0.05rem;
    }
    .D_sidebarWrap{
        display: none;
    }
    .D_temTit {

        font-size: 0.5rem;
        padding-bottom: 1rem;
    }
    .D_container{
        width: 100%;
    }
    .D_project{
        width: 100%;
    }
    .D_search  input{
        width: 99.9%;
    }
    .D_stychange{
        width: 99%;
    }
    .D_stychange_b{
        width: 95%;
    }
    .D_allcon li{
        width: 5.75rem;
        margin-top: 0.3rem;
        margin-bottom: 0.2rem;
        margin-left: 0.5rem;
    }
    .D_search span{
        margin-top: 0.15rem;
        margin-left: -0.3rem;
    }
    .D_searchlist li{
        width: 100%;text-align: center;
    }
}
/*段超群*/
@media only screen and (max-width: 640px) {
    .D_allcon li{
        width: 12rem;
        margin-top: 0.5rem;
        margin-bottom: 0.4rem;
    }
    .D_search span{
        margin-top: 0.15rem;
        margin-left: -0.8rem;
    }
    .D_search input{
        font-size: 14px;
    }
    .D_conhref button{
        width:1.5rem;
        margin-top: -30px;
    }
    .D_stychange_b{
        font-size: 15px;
    }
    .D_stychange{
        font-size: 15px;
    }
    .D_selist_b{
        font-size: 14px
    }
    .D_selist{
        font-size: 14px;
    }

}
/*侯宇杰*/
/*首页尾部*/
.h_footer {
     width: 12.5rem;
     margin: 0 auto;
     font-family: 微软雅黑;
    clear: both;
}
.line_t {
     width: 100%;
     height: 0.28rem;
     border-bottom: 0.01rem solid #dbdbdb;
     margin-bottom: 0.42rem;
     box-sizing:border-box;
}
.publick_panel_t_l {
     float: left;
     width: 3.6rem;
     margin-bottom: 0.3rem;
}
.publick_panel_t_l h2 {
     font-weight: bold;
     font-size: 0.2rem;
     color: #000;
     padding-bottom: 0.25rem;
}
.publick_panel_t_l_b {
     font-weight: bold;
     color: #000;
     padding: 0.2rem 0;
}
.publick_panel_o_c {
     margin-top: 1rem;
}
.publick_panel_o_c p:first-of-type {
     font-size: 0.2rem;
     color: #000;
}
.publick_panel_s {
    text-align: center;
}
.publick_panel_s p {
     line-height: 0.8rem;
     border-top: 0.01rem solid #dbdbdb;
}
.publick_panel_s p:first-of-type{
     line-height: 0.6rem;
     border-top: 0.01rem solid #dbdbdb;
}
@media only screen and (min-width: 992px) {

	.publick_panel_t_r {
	     float: left;
	}
	.publick_panel_t_r li {
	     float: left;
	     padding-bottom: 0.2rem;
	     padding-left: 0.22rem;
	}
	.publick_panel_t_r li h2 {
	    font-weight: bold;
	    font-size: 20px;
	    color: #000;
	    padding-bottom: 25px;
	}
	.publick_panel_t_r li p {
	    height: 30px;
	}
	.header_logo{
		
	}
    #sy_New{
        width:8rem;
        float: left;
        margin-left:0.3rem;
    }
    #sy_New ul li{
        width:100%;
        position: relative;
        padding:0.3rem 0 0.5rem 0;
        font-family: 微软雅黑;
        border-bottom: 0.01rem solid #CCC;
    }
    #sy_New ul li h1{
        width:100%;
        height:0.30rem;font-size: 0.30rem;font-weight: bold;

    }
    #sy_New ul li b{

        position: absolute;
        font-size:0.16rem;
        right:0.20rem;
        top:0.27rem;font-weight: normal;
    }
    #sy_New ul li h2{
        width:100%;
        height:0.16rem;font-size: 0.16rem;
        margin-top:0.10rem;
    }
    #sy_New ul li div {
        width:100%;
        height:0.50rem;
        overflow: hidden;
        margin-top:0.10rem;
    }
    #sy_New ul li div img{
        width:0.50rem;
        height:0.50rem;
        margin-right:0.20rem;
        float: left;
    }
    #sy_New ul li div div{
        width:6rem;
        height:0.3rem;
        line-height:0.3rem;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #sy_New ul li a{
        text-align: center;
        position: absolute;
        cursor: pointer;
        display: block;
        font-size: 0.12rem;
        padding:0.05rem 0.09rem;
        right:0.20rem;
        border: 0.01rem solid #ccc;

    }
    @keyframes sy_touch {
        0%{
            left:-62vw;
            opacity: 0;
        }

        80%{
            left:7.5vw;
        }
        100%{
            left:5.5vw;opacity: 1;
        }
    }
    @keyframes sy_touchend {
        0%{
            left:5.5vw;
            opacity: 1;
        }

        30%{
            left:7.5vw;
        }
        100%{
            left:-62vw;opacity: 0;
        }
    }
    .sy_touch{
        width:61vw;
        left:-62vw;
        height:89vh;
        position: fixed;      opacity: 0;
        z-index:1;
        top:11vh;
        overflow: auto;
        font-family: 微软雅黑;
        background-color: #e9e9e9;
        box-sizing: border-box;
        padding-right:0.2rem;

    }

    .sy_touClo{
        position: absolute;
        top:0.1rem;right: 0;
        cursor: pointer;
        width:0.5rem;
        height:0.5rem;
    }
    .sy_touClo:before{

        font-size: 0.3rem;
    }
    .sy_touch > h1{
        font-size: 0.3rem;font-weight: bold;
        margin:0.2rem auto;
        text-align: center;
        margin-left:0.2rem;

        border-bottom:1px solid #CCC;
        padding-bottom:0.1rem;
    }
    .sy_touch > span{
        font-size: 0.16rem;
        margin:0.20rem auto;
        display: block;
        margin-left:0.20rem;
        color: #333;
    }
    .sy_touch > div{
        font-size: 0.16rem;
        margin:0.20rem auto;
        margin-left:0.20rem;

    }
    .sy_touch > div img{
        width:3rem;
        height:2rem;
        margin:0 auto;
        margin-bottom:0.1rem;
    }
    .sy_touch > div div{
        line-height:0.2rem;
    }
    .sy_touch > b{
        display: block;
        text-align: right;
        font-size: 0.16rem;
        margin-left:0.2rem;
    }


    .sy_touClo{
        position: absolute;
        top:0.15rem;right: 0;

        cursor: pointer;
        width:0.5rem;
        height:0.5rem;
    }
    .sy_touClo:before{

        font-size: 0.3rem;
    }

}
@media only screen and (max-width: 992px) {
	.publick_panel_t_r{
		display: none;
	}
	.publick_panel_t_l{
		width: 100%;
	}
	.falgs{
		display: block;
	}
	.header_logo{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -60px;
	}
}
/*段超群*/
@media only screen and (min-width: 992px) {
    .wjt_navv{overflow: hidden;width: 12rem;margin: 0 auto;border: 1px solid #F0F0F0;box-sizing: border-box;}
     .wjt_navv>ul{width: 2.97rem;height:100%;float: right;}
     .wjt_navv>ul>li>ul li{height: 0.52rem;line-height: 0.62rem;text-indent:0.4rem;font-size: 0.15rem;}
     .wjt_navv>ul li>p{height: 0.52rem;margin: 0 auto;font-size: 0.15rem;line-height: 0.62rem;}
    .wjt_xg{width: 8.72rem;float: left;}
    .wjt_navv>ul li>p:hover{background: #F0F0F0;cursor: pointer;}
    .wjt_navv ul li span{border: 5px solid transparent;border-left:5px solid #000;display: inline-block;vertical-align: middle;margin-right: 5px;margin-top: -4px}
    .wjt_navv>ul>li>ul li:hover{background: #F0F0F0;cursor: pointer;}
     
}

/*段超群*/
@media only screen and (max-width: 992px) {
    .wjt_navv{overflow: hidden;width: 12rem;margin: 0 auto;border: 1px solid #F0F0F0;box-sizing: border-box;}
     .wjt_navv>ul{width: 8.97rem;height:auto;clear:both;padding:  0 0 20px 0}
     .wjt_navv>ul>li>ul li{height: 0.52rem;line-height: 0.52rem;text-indent:0.4rem;font-size: 15px;}
     .wjt_navv>ul li>p{height: 0.52rem;margin: 0 auto;font-size: 15px;line-height: 0.72rem    ;}
    .wjt_xg{width: 8.72rem;float: left;}
    .wjt_navv>ul li>p:hover{background: #F0F0F0;cursor: pointer;}
    .wjt_navv ul li span{border: 5px solid transparent;border-left:5px solid #000;display: inline-block;vertical-align: middle;margin-right: 5px;margin-top: -4px}
    .wjt_navv>ul>li>ul li:hover{background: #F0F0F0;cursor: pointer;}
    .wjt_navv ul li{margin-top: 3.5px}
}
/*段超群*/
@media only screen and (min-width: 992px) {

    .Sy {
        width: 100%;
        height: 26.5rem;
    }
    .sy_Con {
        width: 11.9rem;
        height: 3.09rem;
        margin: 0 auto;
        padding: 0 0.1rem;
        box-sizing: border-box;
        margin-top: 1.17rem;
        margin-bottom: 1.50rem;

    }
    .sy_Con_tit {
        position: relative;
        background-repeat: no-repeat;
        margin-top: 0.05rem;
        margin-bottom: 0.2rem;
        padding: 0px 0px 0.4rem;
    }
    .sy_Con h2 {
        width: 100%;
        height: 0.68rem;
        text-align: center;
        font-family: 微软雅黑;
        font-size: 0.36rem;
        font-weight: normal;
        font-style: normal;
        color: #393939;
        border-bottom: 0.01rem solid #E2E2E2;
        transform: scale(0);
        transition: 1.5s;
    }
    .sy_carousel {
        width: 100%;
        height: 1.71rem;
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
    }
    #sy_carousel-indicators li {
        width: 0.08rem;
        height: 0.08rem;
        background-color: #cecece;
        border: 0.01rem solid #cecece;
        vertical-align: top;
        margin-left: 0.08rem;
    }
    #sy_carousel-indicators li:first-child {
        margin-left: 0;
    }
    #sy_carousel-indicators li.active {
        background-color: #5fb0ff;
        border: 0.01rem solid #5fb0ff;
        width: 0.08rem;
        height: 0.08rem;
        margin-top: 0.01rem;
    }
    .sy_btnLeftCon, .sy_btnRightCon {
        width: 32px;
        height: 32px;
        background-color: #cecece;
        position: absolute;
        top: 50%;
        margin-top: -0.16rem;
    }
    .sy_btnLeftCon {
        left: 0;
        background-image: url('./images/rs-default.png');
        background-position: -64px -32px;
        background-repeat: no-repeat;
    }
    .sy_btnRightCon {
        right: 0;
        background-image: url('./images/rs-default.png');
        background-position: -64px -64px;
        background-repeat: no-repeat;
    }
    .sy_item {
        width: 100%;
        height: 100%;
        padding-right: 0.65rem;
        box-sizing: border-box;
        position: relative;
    }
    .sy_item > span {
        width: 0.90rem;
        height: 0.90rem;
        border-radius: 50%;
        position: absolute;
        margin-top: 0.10rem;
        margin-left: 1rem;
    }
    .sy_item p {
        width: 7.86rem;
        height: 1.03rem;
        float: right;
        margin-top: 0.10rem;
        font-family: 微软雅黑;
        position: relative;
    }
    .sy_item p span {
        display: block;
        font-size: 0.13rem;
        color: #888888;
        line-height: 0.25rem;
    }
    .sy_item p b {
        width: 100%;
        height: 0.25rem;
        line-height: 0.25rem;
        font-size: 0.16rem;
        color: #494949;
        position: absolute;
        bottom: 0;
        text-align: right;
        display: block;
        font-weight: normal;
    }
    .sy_friend {
        width: 100%;
        height: 6.30rem;
        background-color: #F9F9F9;
    }
    .sy_friendSm {
        width: 12rem;
        height: 6.3rem;
        margin: 0 auto;
        overflow: hidden;
    }
    .sy_friendSm h2 {
        width: 100%;
        text-align: center;
        height: 0.47rem;
        font-family: 微软雅黑;
        font-size: 0.36rem;
        font-weight: normal;
        font-style: normal;
        color: #393939;
        margin-top: 1.90rem;
        margin-bottom: 0.62rem;transform: scale(0);transition:1s;
    }
    .sy_friendSm ul li {
        width: 2.90rem;
        height: 2.22rem;
        float: left;
        border: 0.01rem solid #DBDBDB;
        padding: 0.30rem 0.05rem 0.20rem 0.05rem;
        font-family: 微软雅黑;
        margin-left: 0.10rem;
        transition: All .3s ease;
    }
    .sy_friendSm ul li:hover {
        border-color: #009CDE;
        transition: All .3s ease;
        background-color: #FFF; padding: 0.30rem 0.05rem 0.20rem 0.05rem;

    }
    .sy_friendSm ul li img, .sy_friendSm ul li b, .sy_friendSm ul li span {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: normal;
        color: rgb(105, 105, 105);

    }
    .sy_friendSm ul li img {
        width: 2.20rem;
        height: 0.80rem;
        margin: 0 auto;
        margin-top: 0.05rem;
    }
    .sy_friendSm ul li span {
        font-size: 0.18rem;
        margin-top: 0.30rem;
    }
    .sy_friendSm ul li b {
        font-size: 0.16rem;
        font-family: arial;
        margin-top: 0.05rem;
    }
    .sy_query {
        width: 100%;
        height: 9.58rem;
        background-color: red;
        background: url("http://static.qifeiye.com/caches/2d2bd038d43e773a454cbb4ae76768fb/aHR0cDovL3d3dy5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMTIvYmY2YmRjMTgxNmM4N2ZhNWNhYmI1ODViYTgyNzRiZjIuanBn.jpg") no-repeat;
        background-size: 100% 100%;
    }
    .sy_querySm {
        width: 12rem;
        height: 9.58rem;
        margin: 0 auto;
        overflow: hidden;
    }
    .sy_querySm h2 {
        font-family: 微软雅黑;
        font-size: 0.36rem;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
        text-align: center;
        width: 100%;
        height: 0.47rem;
        line-height: 0.47rem;
        margin-top: 1.30rem;
        opacity:0;
        transition:1.5s;
    }
    .sy_querySm em {
        display: block;
        margin: 0.15rem auto;
        width: 0.60rem;
        height: 0.02rem;
        background-color: #FFF;    opacity:0;
        transition:1.5s;
    }
    .sy_querySm span {
        width: 9.30rem;
        height: 0.47rem;
        font-family: 微软雅黑;
        display: block;
        font-size: 0.15rem;
        text-shadow: rgb(73, 73, 73) 0px 0px 0.02rem;
        text-align: center;
        color: #FFF;
        margin: 0.32rem auto;    opacity:0;
        transition:1.5s;
    }
    .sy_querySm div {
        width: 9.34rem;
        height: 5.05rem;
        margin: 0 auto;
    }
    .sy_querySm div img {
        width: 100%;
        height: 100%;
        margin: 0.40rem auto;
    }
    .sy_wrap{
        width:100%;
        height:4.73rem;
        margin-top:0.82rem;
    }
    .sy_wrapSm{
        width:99%;
        height:4.73rem;
        margin:0 auto;
    }
    .sy_wrapSm h2{
        width:100%;
        height:0.47rem;
        line-height:0.47rem;
        text-align: center;font-size: 0.36rem;font-family: 微软雅黑;
        color: #393939;
        opacity:0;
        transition:1.5s;
    }
    .sy_wrapSm h3{
        width:100%;
        height:0.27rem;
        line-height:0.27rem;
        text-align: center;font-size: 0.18rem;font-family: 微软雅黑;
        color: #A9A9A9;
        margin-top:0.40rem;
        opacity:0;
        transition:1.5s;
    }
    .sy_wrapSm >div{
        width:100%;
        height:2.94rem;
        overflow: hidden;
        position: relative;
    }
    .sy_wrapSm >div >div{
        width:13.10rem;
        margin:0 auto;
        overflow: hidden;
    }
    .sy_wrapSm div div ul{
        width:32rem;
        height:2.94rem;
        margin-top:0.42rem;
        overflow: hidden;
        position: relative;
        transition:All .5s ease;
    }
    .sy_wrapSm div div ul li:first-child{
        margin-left:0.1rem;
    }
    .sy_wrapSm div span{
        position: absolute;display: block;
        width:0.15rem;
        height:0.30rem;
        top:66%; font-size: 0.15rem;
        margin-top:-0.15rem;
        cursor: pointer;
        color: #808080;
        z-index:111;
    }
    .sy_wrapSm div span:nth-child(1){
        left:0;
    }
    .sy_wrapSm div span:nth-child(2){
        right:0;
    }
    .sy_wrapSm div div ul li {
        width:3.89rem;
        height:2.94rem;
        margin:0.10rem 0.28rem 0 0.28rem;
        float: left;
    }
    .sy_wrapSm div div ul li img{
        width:100%;
        height:100%;
    }
}
@media only screen and (max-width: 992px) and (min-width: 640px) {
    .sy_Con,.sy_wrap{
        display: none;
    }
    .sy_friend {
        width: 100%;
        background-color: #F9F9F9;
    }
    .sy_friendSm {
        width: 12.2rem;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom:1rem;
    }
    .sy_friendSm h2 {
        width: 100%;
        text-align: center;
        height: 0.5rem;
        font-family: 微软雅黑;
        font-size: 0.5rem;
        font-weight: normal;
        font-style: normal;
        color: #393939;
        margin-top: 1.2rem;
        transform: scale(0);transition: 1.5s;
    }
    .sy_friendSm ul {
        width:100%;
        margin-top:1.2rem;
        height:220px;
    }
    .sy_friendSm ul li {
    	width: 6rem;
        height: 100px;
        float: left;
        border: 1px solid #DBDBDB;
        padding: 0.30rem 0.05rem 0.20rem 0.05rem;
        font-family: 微软雅黑;
        transition: All .3s ease;box-sizing: border-box;

    }
    .sy_friendSm ul li:hover {

        border-color:#009CDE;
        background-color: #FFF;

    }
    .sy_friendSm ul li img, .sy_friendSm ul li b, .sy_friendSm ul li span {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: normal;
        color: rgb(105, 105, 105);
    }
    .sy_friendSm ul li img {
        width: 50%;
        height: 90%;
        margin: 0 auto;

    }
    .sy_friendSm ul li span {
        font-size: 0.18rem;
        margin-top: 0.30rem;display: none;
    }
    .sy_friendSm ul li b {
        font-size: 0.16rem;
        font-family: arial;
        margin-top: 0.05rem;display: none;
    }
    .sy_query {
        width: 100%;

        background-color: red;
        background: url("http://static.qifeiye.com/caches/2d2bd038d43e773a454cbb4ae76768fb/aHR0cDovL3d3dy5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMTIvYmY2YmRjMTgxNmM4N2ZhNWNhYmI1ODViYTgyNzRiZjIuanBn.jpg") no-repeat;
        background-size: 100% 100%;
    }
    .sy_querySm {
        width: 12rem;

        margin: 0 auto;
        padding-top:1.2rem;box-sizing: border-box;
    }
    .sy_querySm h2 {
        font-family: 微软雅黑;
        font-size: 0.5rem;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
        text-align: center;
        width: 100%;
        height: 0.5rem;
        line-height: 0.5rem;  opacity:0;
        transition:1.5s;
    }
    .sy_querySm em {
        display: block;
        margin: 0.2rem auto;
        width: 0.90rem;
        height: 0.04rem;
        background-color: #FFF;  opacity:0;
        transition:1.5s;
    }
    .sy_querySm span {
        width: 11.30rem;
        font-family: 微软雅黑;
        display: block;
        font-size: 0.2rem;
        text-shadow: rgb(73, 73, 73) 0rem 0rem 0.02rem;
        text-align: center;
        color: #FFF;
        margin: 0.32rem auto;
        line-height:0.4rem;
        margin-bottom:0.6rem;  opacity:0;
        transition:1.5s;
    }
    .sy_querySm div {
        width: 12.34rem;
        height: 7.05rem;
        margin: 0rem auto;
    }
    .sy_querySm div img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    #sy_New{
        width:100%;
        float: left;
        margin-left:0.3rem;
        padding-right:0.6rem;box-sizing: border-box;
    }
    #sy_New ul li{
        width:100%;
        position: relative;
        padding:0.3rem 0 0.7rem 0;
        font-family: 微软雅黑;
        border-bottom: 0.01rem solid #CCC;
    }
    #sy_New ul li h1{
        width:100%;
        height:0.30rem;font-size: 0.30rem;font-weight: bold;

    }
    #sy_New ul li b{

        position: absolute;
        font-size:0.16rem;
        right:0.20rem;
        top:0.35rem;font-weight: normal;
    }
    #sy_New ul li h2{
        width:100%;
        height:0.16rem;font-size: 0.16rem;
        margin-top:0.2rem;
    }
    #sy_New ul li div {
        width:100%;
        height:0.60rem;
        overflow: hidden;
        margin-top:0.3rem;

    }
    #sy_New ul li div img{
        width:0.50rem;
        height:0.50rem;
        margin-right:0.20rem;
        float: left;
    }
    #sy_New ul li div div{
        width:6rem;
        height:0.3rem;
        line-height:0.3rem;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #sy_New ul li a{
        text-align: center;
        position: absolute;
        cursor: pointer;
        display: block;
        font-size: 0.12rem;
        padding:0.05rem 0.09rem;
        right:0.20rem;
        border: 0.01rem solid #ccc;

    }
    @keyframes sy_touch {
        0%{
            left:-62vw;
            opacity: 0;
        }

        80%{
            left:7.5vw;
        }
        100%{
            left:5.5vw;opacity: 1;
        }
    }
    @keyframes sy_touchend {
        0%{
            left:5.5vw;
            opacity: 1;
        }

        30%{
            left:7.5vw;
        }
        100%{
            left:-62vw;opacity: 0;
        }
    }
    .sy_touch{
        width:61vw;
        left:-62vw;
        height:89vh;
        position: fixed;
        z-index:1;
        top:11vh;
        overflow: auto;
        font-family: 微软雅黑;
        background-color: #e9e9e9;
        padding-right:0.2rem;box-sizing: border-box;


    }

    .sy_touClo{
        position: absolute;
        top:0.1rem;right: 0;
        cursor: pointer;
        width:0.5rem;
        height:0.5rem;
    }
    .sy_touClo:before{

        font-size: 0.3rem;
    }
    .sy_touch > h1{
        font-size: 0.3rem;font-weight: bold;
        margin:0.2rem auto;
        text-align: center;
        margin-left:0.2rem;
    }
    .sy_touch > span{
        font-size: 0.16rem;
        margin:0.20rem auto;
        display: block;
        margin-left:0.20rem;
    }
    .sy_touch > div{
        font-size: 0.16rem;
        margin:0.20rem auto;
        margin-left:0.20rem;

    }
    .sy_touch > div img{
        margin:0 auto;
        margin-bottom:0.1rem;width:3rem;
        height:2rem;
    }
    .sy_touch > div div{
        line-height:0.32rem;
    }
    .sy_touch > b{
        display: block;
        text-align: right;
        font-size: 0.16rem;
        margin-left:0.2rem;
    }
}
@media only screen and (max-width: 640px) {
    .sy_Con, .sy_wrap {
        display: none;
    }
    .sy_query {
        width: 100%;
        background-color: red;
        background: url("http://static.qifeiye.com/caches/2d2bd038d43e773a454cbb4ae76768fb/aHR0cDovL3d3dy5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMTIvYmY2YmRjMTgxNmM4N2ZhNWNhYmI1ODViYTgyNzRiZjIuanBn.jpg") no-repeat;
        background-size: 100% 100%;
    }
    .sy_querySm {
        width: 12rem;
        margin: 0 auto;
        padding-top: 2.4rem;
        box-sizing: border-box;
    }
    .sy_querySm h2 {
        font-family: 微软雅黑;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
        text-align: center;
        width: 100%;
        height: 0.7rem;
        line-height: 0.7rem;  opacity:0;
        transition:1.5s;
    }
    .sy_querySm em {
        display: block;
        margin: 0.4rem auto;
        width: 1.5rem;
        height: 0.04rem;
        background-color: #FFF;  opacity:0;
        transition:1.5s;

    }
    .sy_querySm span {
        width: 11.30rem;
        font-family: 微软雅黑;
        display: block;
        font-size: 13px;
        text-shadow: rgb(73, 73, 73) 0rem 0rem 0.02rem;
        text-align: center;
        color: #FFF;
        margin: 1.4rem auto;
        line-height: 0.65rem;
        margin-bottom: 0.6rem;  opacity:0;
        transition:1.5s;
    }
    .sy_querySm div {
        width: 12.34rem;
        height: 7.05rem;
        margin: 1.5rem auto;
    }
    .sy_querySm div img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .sy_friend {
        width: 100%;
        background-color: #F9F9F9;
        margin-top: -1.45rem;
    }
    .sy_friendSm {
        width: 12.2rem;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 2rem;
    }
    .sy_friendSm h2 {
        width: 100%;
        text-align: center;
        height: 0.5rem;
        font-family: 微软雅黑;
        font-size: 0.7rem;
        font-weight: normal;
        font-style: normal;
        color: #393939;
        margin-top: 3rem;
        transform: scale(0);transition: 1.5s;
    }
    .sy_friendSm ul {
        width:100%;
        margin-top: 3rem;
        height:210px;
    }
    .sy_friendSm ul li {
        width: 6.0rem;
        height: 100px;
        float: left;
        border: 0.01rem solid #DBDBDB;
        padding: 0.30rem 0.05rem 0.20rem 0.05rem;
        font-family: 微软雅黑;
        transition: All .3s ease;
        box-sizing: border-box;
    }
    .sy_friendSm ul li:hover {
        transition: All .3s ease;
        background-color: #FFF;
        border-color: #009CDE;
    }
    .sy_friendSm ul li img, .sy_friendSm ul li b, .sy_friendSm ul li span {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: normal;
        color: rgb(105, 105, 105);
    }
    .sy_friendSm ul li img {
        width: 80%;
        height: 90%;
        margin: 0 auto;
    }
    .sy_friendSm ul li span {
        font-size: 0.18rem;
        margin-top: 0.30rem;
        display: none;
    }
    .sy_friendSm ul li b {
        font-size: 0.16rem;
        font-family: arial;
        margin-top: 0.05rem;
        display: none;
    }
    #sy_New{
        width:100%;
        float: left;
        margin-left:0.3rem;
        padding-right:0.6rem;box-sizing: border-box;
        margin-bottom:0.4rem;
    }
    #sy_New ul li{
        width:100%;
        position: relative;
        padding:0.2rem 0 1rem 0;
        font-family: 微软雅黑;
        border-bottom: 0.01rem solid #CCC;
    }
    #sy_New ul li h1{
        width:100%;
        height:22px;font-size: 22px;font-weight: bold;

    }
    #sy_New ul li b{

        position: absolute;
        font-size:16px;
        right:0.20rem;
        top:0.35rem;font-weight: normal;
    }
    #sy_New ul li h2{
        width:100%;
        height:16px;font-size: 16px;
        margin-top:0.2rem;
    }
    #sy_New ul li div {
        width:100%;
        height:50px;
        overflow: hidden;
        margin-top:0.3rem;


    }
    #sy_New ul li div img{
        width:50px;
        height:50px;
        margin-right:0.20rem;
        float: left;
        margin-top:0.3rem;
    }
    #sy_New ul li div div{
        width:6rem;
        height:15px;
        line-height:15px;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 15px;
        margin-top:10px;
    }
    #sy_New ul li a{
        text-align: center;
        position: absolute;
        cursor: pointer;
        display: block;
        font-size: 16px;
        padding:0.2rem 0.09rem;
        line-height:16px;
        right:0.20rem;
        border: 0.01rem solid #ccc;
        margin-top:-5px;

    }
    .sy_touch{
        width:0vw;
        margin-left:-7vw;
        height:0vh;
        position: fixed;
        z-index:1;
        top:12vh;transition: 1s;
        overflow: auto;
        font-family: 微软雅黑;
        background-color: #EFEFEF;
        box-sizing: border-box;
        padding-right:0.2rem;
        padding-bottom:0.2rem;

    }

    @keyframes sy_touch {
        0%{
            left:-62vw;
            opacity: 0;
        }

        80%{
            left:7.5vw;
        }
        100%{
            left:4vw;opacity: 1;
        }
    }
    @keyframes sy_touchend {
        0%{
            left:5.5vw;
            opacity: 1;
        }

        30%{
            left:7.5vw;
        }
        100%{
            left:-62vw;opacity: 0;
        }
    }
    .sy_touch{
        width:88vw;
        left:-100vw;
        height:89vh;
        position: fixed;margin-left: 2vw;
        z-index:1;
        top:12vh;transition: 1s;
        overflow: auto;
        font-family: 微软雅黑;
        background-color: #e9e9e9;
        box-sizing: border-box;
        padding:0 10px;
        /*padding-bottom:0.2rem;*/
        /*padding-left:1rem;*/

    }

    .sy_touClo{
        position: absolute;
        top:0.1rem;right: 0.1rem;
        cursor: pointer;
        width:0.5rem;
        height:0.5rem;
    }
    .sy_touClo:before{

        font-size: 0.3rem;
    }
    .sy_touch > h1{
        font-size: 20px;font-weight: bold;
        margin:0.2rem auto;
        text-align: center;
        /*margin-left:0.2rem;*/
    }
    .sy_touch > span{
        font-size: 16px;
        margin:0.20rem auto;
        display: block;
        /*margin-left:0.20rem;*/
    }
    .sy_touch > div{
        font-size: 16px;
        margin:0.20rem auto;
        /*margin-left:0.20rem;*/
        width:100%;

    }
    .sy_touch > div img{
        margin:0 auto;
        margin-bottom:0.1rem;width:100%;

    }
    .sy_touch > div div{
        line-height:20px;margin-top: 10px;
    }
    .sy_touch > b{
        display: block;
        text-align: right;
        font-size: 16px;
        /*margin-left:0.2rem;*/
    }
}