body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 62.5%;
    font-family: 微软雅黑;
}

@media only screen and (min-width: 992px) {
    .clear:after {
        content: "";
        display: block;
        clear: both;
    }

    .publick_header {
        width: 100%;
        height: 0.7rem;
        padding: 0 0.4rem;
        font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
        background: #333333;
    }

    .header_logo {
        width: 1.02rem;
        height: 0.33rem;
        margin-top: 0.23rem;
    }

    .header_logo {
        width: 1.2rem;
        height: 0.4rem;
        margin-top: 0.15rem;
        background: #000;
        margin-right: 1.12rem;
        float: left;
        margin-left: 1rem;
    }

    .publick_header > li {
         float: left;
         font-size: 0.2rem;
         margin-top: 0.24rem;
         margin-right: 0.47rem;
         color: #fff;
         position: relative;
         padding-bottom: 0.1rem;
         font-size: 0.18rem;
    }
     .publick_header > li > a {
         padding-bottom: 0.05rem;
         color: #fff;
         letter-spacing: 0.1rem;
         text-decoration: none;
    }
     .aboutList {
         position: absolute;
         width: 17.3rem;
         height: 2.64rem;
         background: #333;
         top: 0.32rem;
         left: -7rem;
         z-index: -1;
         display: none;
         font-size: 0.16rem;
    }
     .H_about span {
         letter-spacing: 0.1rem;
         cursor: pointer;
    }
     .H_about:hover .aboutList {
         display: block;
         animation: mymove 1s;
         -webkit-animation: mymove 1s;
         z-index: 99999999;
         animation: mymove 1s;
         -webkit-animation: mymove 1s;
    }
     @keyframes mymove {
         from {
             opacity: 0;
        }
         to {
             opacity: 1;
        }
    }
     @-moz-keyframes mymove 
    /* Firefox */
     {
         from {
             opacity: 0;
        }
         to {
             opacity: 1;
        }
    }
     @-webkit-keyframes mymove 
    /* Safari 和 Chrome */
     {
         from {
             opacity: 0;
        }
         to {
             opacity: 1;
        }
    }
     @-o-keyframes mymove 
    /* Opera */
     {
         from {
             opacity: 0;
        }
         to {
             opacity: 1;
        }
    }
     .line {
         height: 0.01rem;
         text-align: left;
         width: 100%;
         background-color: rgb(51, 51, 51);
         background-repeat: no-repeat;
         border-width: 0.01rem 0rem 0rem;
         border-style: solid;
         border-color: rgb(68, 68, 68) rgb(255, 255, 255) rgb(255, 255, 255);
    }
     .H_listC {
         width: 8rem;
         margin-left: 2rem;
         padding-top: 0.3rem;
    }
     .aboutL {
         width: 1.24rem;
         float: left;
    }
     .aboutL li {
         height: 0.3rem;
    }
     .aboutL li:first-of-type {
         margin-bottom: 0.1rem;
    }
     .aboutL li a {
         color: #808080;
         transition: all 500ms linear;
         text-decoration: none;
    }
     .aboutL li .list_O {
         color: #fff;
    }
     .aboutL li .list_O:hover {
         color: #808080;
    }
     .aboutL li a:hover {
         color: #61b0ff;
    }
     .aboutC {
         width: 2.8rem;
         float: left;
    }
     .aboutC li:first-of-type {
         margin-bottom: 0.1rem;
    }
     .aboutC li a {
         color: #808080;
         transition: all 500ms linear;
         text-decoration: none;
    }
     .aboutC li .list_O {
         color: #fff;
    }
     .aboutC li .list_O:hover {
         color: #808080;
    }
     .aboutC div {
         float: left;
         padding-right: 0.1rem;
    }
     .aboutC div a {
         margin-top: 0.15rem;
         display: block;
         height: 0.67rem;
         position: relative;
    }
    .aboutC div a img {
         filter: grayscale(100%);
         -webkit-filter: grayscale(100%);
         margin: 0.05rem;
         float: left;
         transtion: all .5s;
    }
     .aboutC div a:hover img {
         animation: h_filter 1s;
         -webkit-animation: h_filter 1s;
    }
     @keyframes h_filter {
         from {
             filter: grayscale(100%);
        }
         to {
             filter: grayscale(0%);
        }
    }
     .aboutC div a span {
         position: absolute;
         width: 100%;
         height: 100%;
         box-sizing: border-box;
         display: block;
         border: 1px solid #ccc;
    }
     .aboutR {
         width: 4.68rem;
         float: left;
         padding-left: 0.4rem;
    }
     .aboutR li:first-of-type {
         margin-bottom: 0.1rem;
    }
     .aboutR li a {
         color: #808080;
         transition: all 500ms linear;
         text-decoration: none;
    }
     .aboutR li .list_O {
         color: #fff;
    }
     .aboutR li .list_O:hover {
         color: #808080;
    }
     .aboutR p {
         height: 0.3rem;
    }
     .aboutR p a {
         text-decoration: none;
         color: rgb(128, 128, 128);
    }
     .aboutR p .color_r {
         color: #A9A9A9;
    }
     .publick_panel_o_c p:first-of-type {
         color: #000;
    }

    .wjt_banner {
        width: 100%;
        height: 335px;
        background-image: url('http://static.qifeiye.com/caches/2d2bd038d43e773a454cbb4ae76768fb/aHR0cDovL3d3dy5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTUvMDYvZGQ0NTEzYzJiOWNhMDNiYWMzNWUzNGQxNWQ4YjFiNjUuanBn.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    .wjt_banner_color {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(48, 48, 48, .7);
        position: absolute;
    }

    .wjt_banerCon {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .wjt_firsttext {
        height: 6.2rem;
        line-height: 6.2rem;
        font-size: 36px;
        color: white;
        text-align: center;
        margin-top: 90px;
    }

    .wjt_sendtext {
        height: 2.5rem;
        text-align: center;
        margin-top: 11px;
        font-size: 16px;
        color: #D3D3D3
    }

    .wjt_bannerul {
        width: 100%;
        height: 55px;
        background: #666;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .wjt_bannerul > ul {
        width: 660px;
        height: 25px;
        margin: 0 auto;
    }

    .wjt_bannerul > ul > li {
        list-style: none;
        float: left;
        width: 25%;
        height: 100%;
        text-align: center;
        line-height: 25px;
        border-right: 1px solid #adadad;
        color: white;
        margin-top: 15px;
        box-sizing: border-box;
    }

    .wjt_bannerul > ul > li > a:hover {
        color: #c4c4c4;
        transition: all 500ms linear;
        cursor: pointer;
    }

    .wjt_bannerul > ul > li > a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    .wjt_bannerul > ul > li.wjt_borhide {
        border: none;
    }

    /*首页尾部*/
    .h_footer {
         width: 12rem;
         margin: 0 auto;
         font-family: 微软雅黑;
    }
     .line_t {
         width: 100%;
         height: 0.28rem;
         border-bottom: 0.01rem solid #dbdbdb;
         margin-bottom: 0.42rem;
    }
     .publick_panel_t_l {
         float: left;
         width: 3.6rem;
         margin-bottom: 0.3rem;
    }
     .publick_panel_t_l h2 {
         font-weight: bold;
         font-size: 0.2rem;
         color: #000;
         padding-bottom: 0.25rem;
    }
     .publick_panel_t_l_b {
         font-weight: bold;
         color: #000;
         padding: 0.2rem 0;
    }
     .publick_panel_t_r {
         float: right;
    }
    .publick_panel_t_r li {
         float: left;
         padding-left:0.1rem;
         padding-bottom: 0.2rem;
    }
    .publick_panel_t_r li:first-of-type{
         padding-left:0;
    }
    .publick_panel_t_r li h2 {
         font-weight: bold;
         font-size: 0.2rem;
         color: #000;
         padding-bottom: 0.25rem;
    }
     .publick_panel_t_r li p {
         height: 0.3rem;
    }
     .publick_panel_o_c {
         margin-top: 1rem;
    }
     .publick_panel_s {
         text-align: center;
    }
     .publick_panel_s p {
         height: 0.42rem;
         line-height: 0.42rem;
         border-top: 0.01rem solid #dbdbdb;
    }
     .publick_panel_o_c p:first-of-type {
         font-size: 0.2rem;
         color: #000;
    }
    .wjt_banner{width: 100%;height: 335px;background-image: url('http://static.qifeiye.com/caches/2d2bd038d43e773a454cbb4ae76768fb/aHR0cDovL3d3dy5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTUvMDYvZGQ0NTEzYzJiOWNhMDNiYWMzNWUzNGQxNWQ4YjFiNjUuanBn.jpg'); background-repeat:no-repeat; background-size:cover;overflow: hidden;position: relative;}
    .wjt_banner_color{width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(48,48,48,.7);position: absolute;}
    .wjt_banerCon{width: 100%;height: 100%;margin: 0 auto;overflow: hidden;padding: 0 40px;box-sizing: border-box;;}
    .wjt_firsttext{height: 6.2rem;line-height: 6.2rem;font-size:36px;color: white;text-align: center;margin-top: 90px;}
    .wjt_sendtext{height: 2.5rem;text-align: center;margin-top: 11px;font-size: 16px;color: #D3D3D3}
    .wjt_bannerul{width: 100%;height: 55px;background: #666;position: absolute;bottom: 0;left: 0;}
    .wjt_bannerul>ul{width: 660px;height:25px;margin: 0 auto;}
    .wjt_bannerul>ul>li{list-style: none;float: left;width:25%;height: 100%;text-align: center;line-height: 25px;border-right:1px solid #adadad;color: white;margin-top: 15px;box-sizing: border-box;}
    .wjt_bannerul>ul>li>a:hover{color: #c4c4c4;transition: all 500ms linear;cursor: pointer;}
    .wjt_bannerul>ul>li>a{color: white;text-decoration: none;font-size: 15px;}
    .wjt_bannerul>ul>li.wjt_borhide{border:none;}
    .wjt_template1{width: 1200px;height: 133px;background: #EAEAEA;margin: 0 auto;margin-top: 70px;overflow: hidden;}
    .wjt_tem_left{float: left;width: 103px;height: 103px;margin: 15px;}
    .wjt_tem_left>img{width: 100%;height: 100%;vertical-align: middle;}
    .wjt_template1>h2{height: 100%;line-height: 133px;font-size: 28px;color: #000;float: left;}
    .wjt_template1>h3{height: 100%;line-height: 133px;font-size: 14px;color: #595959;float: left;margin-left: 25px;}
    .wjt_template2{width: 1200px;margin: 0 auto;overflow: hidden;}
    .wjt_template2>ul{width: 198px;height: 100%;float: left;}
    .wjt_template2>ul>li{width: 198px;height: 54px;border: 1px solid #E2E2E2;box-sizing: border-box;text-align: center;font-size: 13px;color: rgb(51,51,51);line-height: 54px;}

    .wjt_template2>ul>li.template2_font{font-size: 16px;font-weight: bold;}
    .wjt_template2>ul>li.template2_con{height: 200px;line-height: 24px;}
    .wjt_template2>ul>li.tema,.wjt_template2>ul>li.temc{line-height: 200px;}
    .wjt_template2>ul>li.temb>p,.wjt_template2>ul>li.temd>p,.wjt_template2>ul>li.teme>p{width: 167px;margin: 0 auto;}
    .wjt_template2>ul>li.temb{padding: 60px 0;}
    .wjt_template2>ul>li.temd{padding: 70px 0;}
    .wjt_template2>ul>li.teme{padding: 70px 0;}
    .wjt_template2>ul>li.teme>p,.wjt_template2>ul>li.temd>p{color: red}
    .wjt_template2>ul>li.wjt_temmaney{color: rgb(255,102,0)}
    .wjt_template2>ul>li.wjt_temshop{height: 120px;line-height: 120px;}
    .wjt_col_a{border-top: 2px solid #b2b2b2;box-sizing: border-box;}
    .wjt_col_b{border-top: 2px solid #FABB01;box-sizing: border-box;}
    .wjt_col_c{border-top: 2px solid #61B0FF;box-sizing: border-box;}
    .wjt_col_d{border-top: 2px solid #39CEAB;box-sizing: border-box;}
    .wjt_col_e{border-top: 2px solid #E9382A;box-sizing: border-box;}
    .wjt_tem_right{width: 210px;height: 933px;float: right;border: 1px solid #E2E2E2;box-sizing: border-box;}
    .wjt_tem_right_con{width: 100%;height: 206px;margin-top: 380px;}
    .wjt_tem_right_con>img{width: 43px;height: 43px;margin: 0 auto;display: block;}
    .wjt_tem_right_con>p{text-align: center;margin-top: 10px;}
    .wjt_modole{width: 100%;height: 100%;}
    .wjt_cha{text-align: center;cursor: pointer;font-size: 13px;color: #61b0ff;}
    .wjt_template2>ul>li>a{padding: 8px 13px;text-decoration: none;color: #61B0FF;transition: all .2s ease-in-out;border: 1px solid transparent}
    .wjt_template2>ul>li>a:hover{border: 1px solid #61B0FF;transition: all .2s ease-in-out;}
    .wht_rigther{width: 210px;height: 516px;float: right;border: 1px solid #E2E2E2;box-sizing: border-box;}
    .wht_rigther>div{width: 94px;height: 29px;border-radius: 15px;background: rgb(97,176,255);text-align: center;line-height: 29px;font-size: 14px;color: white;margin: 0 auto;margin-top: 230px;cursor: pointer;}
    .wjt_template2>ul>li.wjt_tem_sx{color: #FF0000}
    .wjt_template2>ul>li.wjt_tem_fx{height: 120px;line-height: 120px;}
    .wjt_template2>ul>li.wjt_tem_on{height: 71px;line-height: 71px;}
    .wht_rigther>div:hover{background:#3EA3FF;transition: .2s}
    .wjt_template2{width: 1200px;margin: 0 auto;}
    .wjt_template3{width: 1200px;margin: 0 auto;font-size: 14px;color: #FF6600;margin-top: 20px;margin-bottom: 10px;}
    .wjt_template4{width: 1200px;height: 153px;margin: 0 auto;border: 1px solid #e2e2e2;box-sizing: border-box;border-top: 2px solid #B2B2B2;background: white;overflow: hidden;}
    .tem4_left{width: 990px;height: 100%;float: left;padding: 40px 20px; box-sizing: border-box;font-family: 微软雅黑;color: #494949;font-size: 18px;}
    .tem4_right{width: 208px;height: 100%;float: left;border-left: 1px solid #e2e2e2}
    .tem4_right>div{width: 122px;height: 27px;border-radius: 18px;background: #61B0FF;line-height: 27px;text-align:center;color: white;font-size: 13px;margin: 0 auto;margin-top: 30px;}
    .tem4_right>div:hover{cursor: pointer;background:#3EA3FF;transition: .3s}
    .wjt_modulemodule{width: 100%;background: #f9f9f9;padding: 0 0 55px 0;overflow: hidden;}

}


@media only screen and (max-width: 640px){

}
@media only screen and (min-width:993px){

    .Sy {
        width: 100%;
        height: 26.5rem;

    }

    .sy_Con {
        width: 11.9rem;
        height: 3.09rem;
        margin: 0 auto;
        padding: 0 0.1rem;
        box-sizing: border-box;
        margin-top: 1.17rem;
        margin-bottom: 1.50rem;

    }

    .sy_Con_tit {
        position: relative;
        background-repeat: no-repeat;
        margin-top: 0.05rem;
        margin-bottom: 0.2rem;
        padding: 0px 0px 0.4rem;
    }

    .sy_Con h2 {
        width: 100%;
        height: 0.68rem;
        text-align: center;
        font-family: 微软雅黑;
        font-size: 0.36rem;
        font-weight: normal;
        font-style: normal;
        color: #393939;
        border-bottom: 0.01rem solid #E2E2E2;
    }

    .sy_carousel {
        width: 100%;
        height: 1.71rem;
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #sy_carousel-indicators li {
        width: 0.08rem;
        height: 0.08rem;
        background-color: #cecece;
        border: 0.01rem solid #cecece;
        vertical-align: top;
        margin-left: 0.08rem;
    }

    #sy_carousel-indicators li:first-child {
        margin-left: 0;
    }

    #sy_carousel-indicators li.active {
        background-color: #5fb0ff;
        border: 0.01rem solid #5fb0ff;
        width: 0.08rem;
        height: 0.08rem;
        margin-top: 0.01rem;
    }

    .sy_btnLeftCon, .sy_btnRightCon {
        width: 0.32rem;
        height: 0.32rem;
        background-color: #cecece;
        position: absolute;
        top: 50%;
        margin-top: -0.16rem;
    }

    .sy_btnLeftCon {
        left: 0;
        background-image: url('./images/rs-default.png');
        background-position: -64px -32px;
        background-repeat: no-repeat;
    }

    .sy_btnRightCon {
        right: 0;
        background-image: url('./images/rs-default.png');
        background-position: -64px -64px;
        background-repeat: no-repeat;
    }

    .sy_item {
        width: 100%;
        height: 100%;
        padding-right: 0.65rem;
        box-sizing: border-box;
        position: relative;
    }

    .sy_item > span {
        width: 0.90rem;
        height: 0.90rem;
        border-radius: 50%;
        position: absolute;
        margin-top: 0.10rem;
        margin-left: 1rem;
    }

    .sy_item p {
        width: 7.86rem;
        height: 1.03rem;
        float: right;
        margin-top: 0.10rem;
        font-family: 微软雅黑;
        position: relative;
    }

    .sy_item p span {
        display: block;
        font-size: 0.13rem;
        color: #888888;
        line-height: 0.25rem;
    }

    .sy_item p b {
        width: 100%;
        height: 0.25rem;
        line-height: 0.25rem;
        font-size: 0.16rem;
        color: #494949;
        position: absolute;
        bottom: 0;
        text-align: right;
        display: block;
        font-weight: normal;
    }

    .sy_friend {
        width: 100%;
        height: 6.30rem;
        background-color: #F9F9F9;
    }

    .sy_friendSm {
        width: 12rem;
        height: 6.3rem;
        margin: 0 auto;
        overflow: hidden;
    }

    .sy_friendSm h2 {
        width: 100%;
        text-align: center;
        height: 0.47rem;
        font-family: 微软雅黑;
        font-size: 0.36rem;
        font-weight: normal;
        font-style: normal;
        color: #393939;
        margin-top: 1.90rem;
        margin-bottom: 0.62rem;
    }

    .sy_friendSm ul {
        width: 100%;
        height: 2.22rem;
    }

    .sy_friendSm ul li {
        width: 2.90rem;
        height: 2.22rem;
        float: left;
        border: 0.01rem solid #DBDBDB;
        padding: 0.30rem 0.05rem 0.20rem 0.05rem;
        font-family: 微软雅黑;
        margin-left: 0.10rem;
        transition: All .3s ease;
    }

    .sy_friendSm ul li:hover {
        border-color: #009CDE;
        transition: All .3s ease;
        background-color: #FFF;
    }

    .sy_friendSm ul li img, .sy_friendSm ul li b, .sy_friendSm ul li span {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: normal;
        color: rgb(105, 105, 105);

    }

    .sy_friendSm ul li img {
        width: 2.20rem;
        height: 0.80rem;
        margin: 0 auto;
        margin-top: 0.05rem;
    }

    .sy_friendSm ul li span {
        font-size: 0.18rem;
        margin-top: 0.30rem;
    }

    .sy_friendSm ul li b {
        font-size: 0.16rem;
        font-family: arial;
        margin-top: 0.05rem;
    }

    .sy_query {
        width: 100%;
        height: 9.58rem;
        background-color: red;
        background: url("http://static.qifeiye.com/caches/2d2bd038d43e773a454cbb4ae76768fb/aHR0cDovL3d3dy5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTYvMTIvYmY2YmRjMTgxNmM4N2ZhNWNhYmI1ODViYTgyNzRiZjIuanBn.jpg") no-repeat;
        background-size: 100% 100%;

    }

    .sy_querySm {
        width: 12rem;
        height: 9.58rem;
        margin: 0 auto;
        overflow: hidden;
    }

    .sy_querySm h2 {
        font-family: 微软雅黑;
        font-size: 0.36rem;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;
        text-align: center;
        width: 100%;
        height: 0.47rem;
        line-height: 0.47rem;
        margin-top: 1.30rem;
    }

    .sy_querySm em {
        display: block;
        margin: 0.15rem auto;
        width: 0.60rem;
        height: 0.02rem;
        background-color: #FFF;
    }

    .sy_querySm span {
        width: 9.30rem;
        height: 0.47rem;
        font-family: 微软雅黑;
        display: block;
        font-size: 0.15rem;
        text-shadow: rgb(73, 73, 73) 0px 0px 0.02rem;
        text-align: center;
        color: #FFF;
        margin: 0.32rem auto;

    }

    .sy_querySm div {
        width: 9.34rem;
        height: 5.05rem;
        margin: 0 auto;
    }

    .sy_querySm div img {
        width: 100%;
        height: 100%;
        margin: 0.40rem auto;
    }
    .sy_wrap{
        width:100%;
        height:4.73rem;
        margin-top:0.82rem;
    }
    .sy_wrapSm{
        width:99%;
        height:4.73rem;
        margin:0 auto;
    }
    .sy_wrapSm h2{
        width:100%;
        height:0.47rem;
        line-height:0.47rem;
        text-align: center;font-size: 0.36rem;font-family: 微软雅黑;
        color: #393939;
    }
    .sy_wrapSm h3{
        width:100%;
        height:0.27rem;
        line-height:0.27rem;
        text-align: center;font-size: 0.18rem;font-family: 微软雅黑;
        color: #A9A9A9;
        margin-top:0.40rem;
    }
    .sy_wrapSm >div{
        width:100%;
        height:2.94rem;
        overflow: hidden;
        position: relative;
    }
    .sy_wrapSm >div >div{
        width:13.10rem;
        margin:0 auto;
        overflow: hidden;
    }
    .sy_wrapSm div div ul{
        width:32rem;
        height:2.94rem;
        margin-top:0.42rem;
        overflow: hidden;
        position: relative;
        transition:All .5s ease;

    }
    .sy_wrapSm div div ul li:first-child{
        margin-left:0.1rem;
    }
    .sy_wrapSm div span{
        position: absolute;display: block;
        width:0.15rem;
        height:0.30rem;
        top:66%; font-size: 0.15rem;
        margin-top:-0.15rem;
        cursor: pointer;
        color: #808080;
        z-index:111;
    }
    .sy_wrapSm div span:nth-child(1){
        left:0;
    }
    .sy_wrapSm div span:nth-child(2){
        right:0;
    }
    .sy_wrapSm div div ul li {
        width:3.89rem;
        height:2.94rem;
        margin:0.10rem 0.28rem 0 0.28rem;
        float: left;
    }
    .sy_wrapSm div div ul li img{
        width:100%;
        height:100%;
    }


}
@media only screen and (min-width: 1201px){

}