@charset "utf-8";
/* CSS Document */

/* 公共样式表 */

body{text-align:left; font-family:"宋体", arial; margin:0; padding:0; background:#FFF; font-size:12px; color:#666;}


/*01. 整体颜色风格、字体设置：
    a. background:#FFF; 背景颜色，根据网页效果图来设定背景颜色，如果有图片就加图片。
	b. 字体： font-size:12px;
*/

div,form,img,ul,ol,li,dl,dt,dd,input{margin:0; padding:0; border:0; }

/**{margin:0; padding:0; border:0; }*/

li,dl{list-style-type:none;}
h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
p{margin:0;padding:0}
h1{margin:0; padding:0;font-size:14px;}

.margintop10{ margin-top:10px;}
.margintop30{ margin-top:30px;}

.marginleft30{ margin-left:20px;}

/* 公共样式中的默认超链接 */

a:link {color: #656565; text-decoration:none;}
a:visited {color: #656565;text-decoration:none;}
a:hover {color: #950304; text-decoration:underline;}
a:active {color: #950304;}

/* 系统样式表 */

.floatl{ float:left;}
.floatr{ float:right;}
.clrarly{ clear:both;}


/* 自定义样式表 */

.bigone { margin:0 auto; width:1003px; height:800px; background:#CCC;}

@media only screen and (min-width: 992px){
    /*banner开始*/
    .zyh-banner {
        width: 100%;
        position: relative;
    }
    .zyh-background-video {
        width: 100%;
        height: 8.5rem;
        object-fit: cover;
        object-position: center center;
    }
    .zyh-bannerIn {
        width: 100%;
        height: 8.5rem;
        background-color: rgba(48, 38, 38, 0.7);
        position: absolute;
        top: 0rem;
    }
    .zyh-container {
        width: 12rem;
        height: 3.74rem;
        margin: 0 auto;
        margin-top: 1.6rem;
    }
    #zyhTextFirst{
        display: none;
    }
    #zyhTextSecond{
        display: none;
    }
    .zyh-text {
        font-family: 微软雅黑;
        font-size: 0.4rem;
        font-weight: normal;
        font-style: normal;
        color: #c3c3c3;
    }
    .zyh-text-first {
        margin-bottom: -0.05rem;
    }
    .zyhP{
        width: 0rem;
        height: 0.52rem;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
    }
    .zyh-logo{
        width: 3.6rem;
        height: 1.04rem;
        margin-bottom: 0.72rem;
        margin-left:7.91rem;
    }
    .zyh-text-second {
    }
    .zyh-tSecond {
        width: 3.51rem;
        height: auto;
        font-size: 0.22rem;
        color: #c3c3c3;
        letter-spacing: 0.02rem;
        text-align: center;
        margin-left: 8rem;
    }
    .zyh-tSecondTop {
        margin-top: 0.7rem;
        margin-bottom: 0.1rem;
    }
    .zyh-tSecondBottom {
        margin-bottom: 0.53rem;
    }
    .zyh-button {
        width: 2.81rem;
        height: 0.62rem;
        margin-left: 8.34rem;
        border: 1px solid #FFFFFF;
    }
    .zyh-button:hover{
        width: 2.81rem;
        height: 0.62rem;
        margin-left: 8.34rem;
        border: 1px solid #FFFFFF;
        background: white;
        transition: 0.5s;
    }
    .zyh-buttonIn{
        width: 2.81rem;
        height: 0.62rem;
        font-size: 0.22rem;
        text-align: center;
        line-height: 0.62rem;
        color: white;
        transition: 0s;
        letter-spacing: 0.05rem;
        cursor: pointer;
    }
    .zyh-buttonIn:hover {
        width: 2.81rem;
        height: 0.62rem;
        background-color: white;
        font-size: 0.22rem;
        text-align: center;
        line-height: 0.62rem;
        color: rgb(117, 117, 117);
        letter-spacing: 0.05rem;
        cursor: pointer;
    }
    .zyh-decline {
        width: 0.29rem;
        height: 0.17rem;
        cursor: pointer;
        background-image: url("./images/jt.png");
        background-size: 100% 100%;
        margin: 0 auto;
        margin-top: 2.06rem;
    }
    #zyhSpan{
        font-family: 微软雅黑;
        font-size: 0.4rem;
        font-weight: normal;
        font-style: normal;
        color: #c3c3c3;
        transition: 0.5s;
        float: left;
    }
    /*banner结束*/
    /*responsive开始*/
    .zyh-responsive {
        width: 100%;
    }
    .zyh-responsiveIn {
        width: 100%;
        padding: 0 0.4rem;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .zyh-responsiveTop {
        width: 2.78rem;
        height: 1.64rem;
        margin: 0 auto;
        margin-top: 0.9rem;
    }
    .zyh-resPFirst {
        width: 2.97rem;
        height: 0.64rem;
        margin-top: 0.05rem;
        overflow: hidden;
    }
    .zyh-fastDiv{

        color: #494949;
        letter-spacing: 0.01rem;
        font-family: 微软雅黑;
        opacity: 0;
        text-align: center;
        transition: 1.5s;
    }
    .zyh-respFSpan {
        font-family: 黑体;
    }
    .zyh-resPSecond {
        width: 2.97rem;
        height: 0.25rem;
        margin-top: 0.35rem;
    }
    .zyh-technologyDiv{

        color: #696969;
        letter-spacing: 0.01rem;
        font-family: 微软雅黑;
        text-align: center;
        opacity: 0;
        transition: 1.5s;
    }
    .zyh-resPThird {
        width: 2.97rem;
        height: 0.26rem;
        margin-top: 0.18rem;
    }
    .zyh-editDiv{

        color: #696969;
        letter-spacing: 0.01rem;
        font-family: 微软雅黑;
        text-align: center;
        opacity: 0;
        transition: 1.5s;
    }
    .zyh-respTSpan {
        font-family: 黑体;
    }
    .zyh-responsiveBottom {
        width: 100%;
        padding: 0 0.4rem;
        box-sizing: border-box;
    }
    .zyh-resBotImg {
        width: 100%;
        height: 7.25rem;
    }
    .zyh-text-third{
        display: none;
    }
    #fast,#technology,#edit{
        transition: 1.5s;
    }
    .zyh-tranTextFirst{
        font-size: 0.44rem;
        transition: 0s;
    }
    .zyh-tranTextSecond{
        font-size: 0.18rem;
        transition: 0s;
    }
    .zyh-tranTextThird{
        font-size: 0.18rem;
        transition: 0s;
    }
    /*responsive结束*/
    /*main开始*/
    .zyh-main{
    }
    .zyh-mai{
        width: 100%;
        height: 5rem;
        padding: 0.5rem 0rem;
        box-sizing: border-box;
    }
    .zyh-maiIn{
        width: 12.57rem;
        margin: 0 auto;
    }
    .zyh-maiFirst,.zyh-maiThird{
        width: 100%;
        background: #F9F9F9;
    }
    .zyh-mainImg{
        width: 6.18rem;
        height: 3.86rem;
        transition: 0s;
     }
    .zyh-maiLeftPic{
        width: 6.18rem;
        height: 3.78rem;
        overflow: hidden;
        transition: 0s;
     }
    .zyh-maiRightText{
        width: 5.66rem;
        height: 3.78rem;
        overflow: hidden;
        transition: 0s;
    }
    .zyh-maiLeftText{
        width: 5.66rem;
        height: 3.78rem;
        overflow: hidden;
        transition: 0s;
    }
    .zyh-maiRightPic{
        width: 6.18rem;
        height: 3.78rem;
        overflow: hidden;
        transition: 0s;
    }
    .zyh-Rtitle{
        font-family: 微软雅黑;
        font-weight: normal;
        font-style: normal;
        color: #333333;

    }
    .zyh-RtitleB{
        font-family: 微软雅黑;
        line-height: 2;
        color: rgb(105, 105, 105);
        letter-spacing: 0.01rem;
        word-wrap: break-word;
    }
    .zyh-textR{
        width: 5.05rem;
        padding-top: 0.71rem;
        box-sizing: border-box;
    }
    .zyh-MaL{
        margin-left: 0.65rem;
    }
    .zyh-left{
        float: left;
    }
    .zyh-right{
        float: right;
    }
    #Firstleft,#Thiredleft{
        position: relative;
        left: -6.18rem;
        transition: 1.5s;
        /*height: 3.86rem;*/
    }
    #Firstright,#Secondleft,#Thiredright,#Fourthleft{
        opacity: 0;
    }
    #Secondright,#Fourthright{
        position: relative;
        right: -6.18rem;
        transition: 1.5s;
        /*height: 3.86rem;*/
    }
    .zyh-img{
        transition: 0s;
    }
    .zyh-textRTran{
        height: 3.86rem;
        transition: 0s;
    }
    .zyh-RTSpan{
        width: 4.94rem;
        font-size: 0.34rem;
        transition: 0s;
    }
    .zyh-RTBSpan{
        margin-top: 0.19rem;
        width: 4.94rem;
        font-size: 0.15rem;
        transition: 0s;
    }
    /*main结束*/
    /*onesecond开始*/
    .zyh-onesecond{
        width: 100%;
        background: #F6F6F6;
    }
    .zyh-onesecondIn{
        width: 12rem;
        margin: 0 auto;
    }
    .zyh-onesecondTop{
        width: 100%;
        height: 2.9rem;
        padding-top: 1.37rem;
        box-sizing: border-box;
    }
    .zyh-onesecondBottom{
        width: 10rem;
        margin: 0 auto;
        height: 5.28rem;
    }
    .zyh-oneTopP{
        text-align: center;
        font-family: 微软雅黑;
        word-wrap: break-word;
        word-break: break-all !important;
        overflow-wrap: normal !important;
    }
    .zyh-oneTopPFirst{
        letter-spacing: 0.03rem;
        font-size: 0.36rem;
        color: #393939;
        margin-bottom: 0.2rem;
    }
    .zyh-oneTopPSecond{
        text-align: center;
        letter-spacing: 0.01rem;
        font-size: 0.16rem;
        color: #494949;
    }
    .zyh-oneTopPSpan{
        font-family: 黑体;
        word-wrap: break-word;
        word-break: break-all !important;
        overflow-wrap: normal !important;
    }

    /*onesecond结束*/
}
@media only screen and (max-width: 993px){
    /*banner开始*/
    .zyh-banner {
        width: 100%;
        position: relative;
        overflow: hidden;
        float: left;
    }
    .zyh-background-video {
        width: 899px;
        object-fit: cover;
        object-position: left center;
    }
    .zyh-bannerIn {
        width: 100%;
        height: 505px;
        background-color: rgba(48, 38, 38, .4);
        position: absolute;
        top: 0rem;
    }
    .zyh-container {
        width: 100%;
        height: 3.74rem;
        margin: 0 auto;
        margin-top: 1.6rem;
    }
    .zyh-logo{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 0.72rem;
    }
    .zyh-text{
        opacity: 0;
        font-size: 0px;
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
    .zyh-text-third{
        width: 100%;
        font-family: 微軟正黑體;
        font-size: 44px;
        font-weight: 700;
        color: white;
        text-align: center;
        margin-top: -0.7rem;
        display: block;
    }
    .zyh-text-thirdF{
        margin-top: 30px;
    }
    .zyh-text-thirdS{
        margin-top: 0;
    }
    .zyh-tSecond {
        width: 100%;
        height: auto;
        font-size: 20px;
        color: white;
        letter-spacing: 0.02rem;
        text-align: center;
        margin: 0 auto;
        font-weight: 600;
    }
    .zyh-tSecondTop {
        margin-top: 0.7rem;
        margin-bottom: 0.1rem;
    }
    .zyh-tSecondBottom {
        margin-bottom: 0.53rem;
    }
    .zyh-button {
        width: 230px;
        height: 48px;
        margin: 0 auto;
        font-size: 22px;
        background: #3685BE;
        color: white;
        line-height: 48px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }
    .zyh-buttonIn{
        cursor: pointer;
        font-family: 华文细黑;
        color: rgb(255, 255, 255);
        font-size: 21px;
        font-weight: normal;
    }
    .zyh-buttonIn:hover {
        width: 230px;
        height: 48px;
        margin: 0 auto;
        font-size: 24px;
        background-color: #00648F;
        color: white;
        line-height: 48px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
    }
    .zyh-decline {
        width: 0.29rem;
        height: 0.17rem;
        cursor: pointer;
        background-image: url("./images/jt.png");
        background-size: 100% 100%;
        margin: 0 auto;
        margin-top: 2.06rem;
    }
    #zyhSpan{
        font-family: 微软雅黑;
        font-size: 0.4rem;
        font-weight: normal;
        font-style: normal;
        color: #c3c3c3;
        transition: 0.5s;
        float: left;
    }
    /*banner结束*/
    /*responsive开始*/
    .zyh-responsive {
        width: 100%;
        float: left;
        padding-bottom: 20px;
    }
    .zyh-responsiveIn {
        width: 100%;
        padding: 0 0.4rem;
        box-sizing: border-box;
        margin: 0 auto;
    }
    .zyh-responsiveTop {
        width: 100%;
        /*height: 1.64rem;*/
        /*margin: 0 auto;*/
        margin-top: 0.9rem;
    }
    .zyh-resPFirst {
        width: 100%;
        margin-top: 0.05rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .zyh-fastDiv{
        font-size: 20px;
        color: #494949;
        letter-spacing: 0.01rem;
        font-family: 微软雅黑;
        opacity: 0;
        text-align: center;
    }
    .zyh-respFSpan {
        font-family: 黑体;
    }
    .zyh-resPSecond {
        width: 100%;
        margin-top: 0.35rem;
        text-align: center;
    }
    .zyh-technologyDiv{
        font-size: 12px;
        color: #696969;
        letter-spacing: 0.01rem;
        font-family: 微软雅黑;
        text-align: center;
        opacity: 0;
    }
    .zyh-resPThird {
        width: 100%;
        margin-top: 0.18rem;
        text-align: center;
    }
    .zyh-editDiv{
        font-size: 12px;
        color: #696969;
        letter-spacing: 0.01rem;
        font-family: 微软雅黑;
        text-align: center;
        opacity: 0;
    }
    .zyh-respTSpan {
        font-family: 黑体;
    }
    .zyh-responsiveBottom {
        width: 100%;
        padding: 0 0.4rem;
        box-sizing: border-box;
    }
    .zyh-resBotImg {
        width: 100%;
        height: 7.25rem;
    }
    #fast,#technology,#edit{
        transition: 1.5s;
    }
    .zyh-tranTextFirst{
        font-size: 20px;
        transition: 0s;
    }
    .zyh-tranTextSecond{
        font-size: 12px;
        transition: 0s;
    }
    .zyh-tranTextThird{
        font-size: 12px;
        transition: 0s;
    }
    /*responsive结束*/
    /*main开始*/
    .zyh-main{
        float: left;
    }
    .zyh-mai{
        width: 100%;
        padding: 20px 0px;
    }
    .zyh-maiIn{
        width: 100%;
    }
    .zyh-maiFirst,.zyh-maiThird{
        width: 100%;
        background: #F9F9F9;
    }
    .zyh-mainImg{
        width: 100%;
        transition: 0s;
    }
    .zyh-maiLeftPic{
        width: 100%;
        transition: 0s;
    }
    .zyh-maiRightText{
        width: 100%;
        transition: 0s;
    }
    .zyh-maiLeftText{
        width: 100%;
        transition: 0s;
    }
    .zyh-maiRightPic{
        width: 100%;
        transition: 0s;
    }
    .zyh-Rtitle{
        font-family: 微软雅黑;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        color: #333333;
        width: 95%;
    }
    .zyh-RtitleB{
        font-family: 微软雅黑;
        line-height: 2;
        color: rgb(105, 105, 105);
        letter-spacing: 0.01rem;
        font-size: 0.15rem;
        word-wrap: break-word;
        margin-top: 0.19rem;
        width: 95%;
    }
    .zyh-textR{
        width: 95%;
        padding-top: 0.71rem;
        box-sizing: border-box;
    }
    .zyh-MaL{
        margin-left: 0.65rem;
    }
    .zyh-left{
        float: left;
    }
    .zyh-right{
        float: right;
    }
    #Firstleft,#Thiredleft{
        position: relative;
        left: -6.18rem;
        transition: 1.5s;
    }
    #Firstright,#Secondleft,#Thiredright,#Fourthleft{
        opacity: 0;
    }
    #Secondright,#Fourthright{
        position: relative;
        right: -6.18rem;
        transition: 1.5s;
    }
    .zyh-textRTran{
        transition: 0s;
    }
    .zyh-RTSpan{
        font-size: 0.34rem;
        transition: 0s;
    }
    .zyh-RTBSpan{
        margin-top: 0.19rem;
        font-size: 0.15rem;
        transition: 0s;
    }
    /*main结束*/
    /*onesecond开始*/
    .zyh-onesecond{
        display: none;
    }
    /*onesecond结束*/
}