@charset "utf-8";
/* CSS Document */

/* 公共样式表 */

body{text-align:left; font-family:"宋体", arial; margin:0; padding:0; background:#FFF; font-size:12px; color:#666;}


/*01. 整体颜色风格、字体设置：
    a. background:#FFF; 背景颜色，根据网页效果图来设定背景颜色，如果有图片就加图片。
	b. 字体： font-size:12px;
*/

div,form,img,ul,ol,li,dl,dt,dd,input{margin:0; padding:0; border:0; }

/**{margin:0; padding:0; border:0; }*/

li,dl{list-style-type:none;}
h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
p{margin:0;padding:0}
h1{margin:0; padding:0;font-size:14px;}

.margintop10{ margin-top:10px;}
.margintop30{ margin-top:30px;}

.marginleft30{ margin-left:20px;}

/* 公共样式中的默认超链接 */

a:link {color: #656565; text-decoration:none;}
a:visited {color: #656565;text-decoration:none;}
a:hover {color: #950304; text-decoration:underline;}
a:active {color: #950304;}

/* 系统样式表 */

.floatl{ float:left;}
.floatr{ float:right;}
.clrarly{ clear:both;}


/* 自定义样式表 */

.bigone { margin:0 auto; width:1003px; height:800px; background:#CCC;}

@media only screen and (min-width: 992px){
    /*banner开始*/
    .zyh-banner {
        width: 100%;
        position: relative;
    }
    .zyh-background-video {
        width: 100%;
        height: 850px;
        object-fit: cover;
        object-position: center center;
    }
    .zyh-bannerIn {
        width: 100%;
        height: 850px;
        background-color: rgba(48, 38, 38, 0.7);
        position: absolute;
        top: 0px;
    }
    .zyh-container {
        width: 1200px;
        height: 374px;
        margin: 0 auto;
        margin-top: 160px;
    }
    #zyhTextFirst{
        display: none;
    }
    #zyhTextSecond{
        display: none;
    }
    .zyh-text {
        font-family: 微软雅黑;
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        color: #c3c3c3;
    }
    .zyh-text-first {
        margin-bottom: -5px;
    }
    .zyhP{
        width: 0px;
        height: 52px;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
    }
    .zyh-logo{
        width: 413px;
        height: 104px;
        margin-bottom: 72px;
        float: right;
        margin-right: 30px;
    }
    .zyh-text-second {
    }
    .zyh-tSecond {
        width: 351px;
        height: auto;
        font-size: 22px;
        color: #c3c3c3;
        letter-spacing: 2px;
        text-align: center;
        margin-left: 800px;
    }
    .zyh-tSecondTop {
        margin-top: 70px;
    }
    .zyh-tSecondBottom {
        margin-bottom: 53px;
    }
    .zyh-button {
        width: 281px;
        height: 62px;
        border: 1px solid #FFFFFF;
        font-size: 22px;
        text-align: center;
        line-height: 62px;
        color: white;
        margin-left: 834px;
        transition: 0.5s;
        letter-spacing: 5px;
        cursor: pointer;
    }
    .zyh-button:hover {
        width: 281px;
        height: 62px;
        border: 1px solid transparent;
        background-color: white;
        font-size: 22px;
        text-align: center;
        line-height: 62px;
        color: rgb(117, 117, 117);
        margin-left: 834px;
        letter-spacing: 5px;
        cursor: pointer;
    }
    .zyh-decline {
        width: 29px;
        height: 17px;
        cursor: pointer;
        background-image: url("./images/jt.png");
        background-size: 100% 100%;
        margin: 0 auto;
        margin-top: 206px;
    }
    #zyhSpan{
        font-family: 微软雅黑;
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        color: #c3c3c3;
        transition: 0.5s;
        float: left;
    }
    /*banner结束*/
    /*responsive开始*/
    .zyh-responsive {
        width: 100%;
    }

    .zyh-responsiveIn {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .zyh-responsiveTop {
        width: 278px;
        height: 164px;
        margin: 0 auto;
        margin-top: 90px;
    }

    .zyh-resPFirst {
        margin-top: 5px;
        font-size: 44px;
        color: #494949;
        letter-spacing: 1px;
        font-family: 微软雅黑;
        opacity: 0;
    }

    .zyh-respFSpan {
        font-family: 黑体;
        /*letter-spacing: 0px;*/
    }
    .zyh-resPSecond {
        margin-top: 35px;
        font-size: 18px;
        color: #696969;
        letter-spacing: 1px;
        font-family: 微软雅黑;
        text-align: center;
        opacity: 0;
    }
    .zyh-resPThird {
        margin-top: 18px;
        font-size: 18px;
        color: #696969;
        letter-spacing: 1px;
        font-family: 微软雅黑;
        text-align: center;
        opacity: 0;
    }
    .zyh-respTSpan {
        font-family: 黑体;
        /*letter-spacing: 0px;*/
    }
    .zyh-responsiveBottom {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    }
    .zyh-resBotImg {
        width: 100%;
        height: 725px;
    }
    /*responsive结束*/
    /*main开始*/
    .zyh-main{

    }
    .zyh-mai{
        width: 100%;
        height: 500px;
        padding: 50px 0px;
        box-sizing: border-box;
    }
    .zyh-maiIn{
        width: 1257px;
        margin: 0 auto;
    }
    .zyh-maiFirst,.zyh-maiThird{
        width: 100%;
        background: #F9F9F9;

    }
    .zyh-mainImg{
        width: 618px;
        height: 386px;
    }
    .zyh-Rtitle{
        font-family: 微软雅黑;
        font-size: 34px;
        font-weight: normal;
        font-style: normal;
        color: #333333;
    }
    .zyh-RtitleB{
        font-family: 微软雅黑;
        line-height: 2;
        color: rgb(105, 105, 105);
        letter-spacing: 1px;
        font-size: 15px;
        word-wrap: break-word;
        margin-top: 19px;
    }
    .zyh-textR{
        width: 505px;
        padding-top: 71px;
        box-sizing: border-box;
    }
    .zyh-MaL{
        margin-left: 65px;
    }
    .zyh-left{
        float: left;
    }
    .zyh-right{
        float: right;
    }
    #Firstleft,#Thiredleft{
        position: relative;
        left: -618px;
        transition: 1.5s;
        height: 386px;
    }
    #Firstright,#Secondleft,#Thiredright,#Fourthleft{
        opacity: 0;
        transition: 1.5s;
        height: 386px;
    }
    #Secondright,#Fourthright{
        position: relative;
        right: -618px;
        transition: 1.5s;
        height: 386px;
    }
    /*main结束*/
    /*onesecond开始*/
    .zyh-onesecond{
        width: 100%;
        background: #F6F6F6;
    }
    .zyh-onesecondIn{
        width: 1200px;
        margin: 0 auto;
    }
    .zyh-onesecondTop{
        width: 100%;
        height: 290px;
        padding-top: 137px;
        box-sizing: border-box;
    }
    .zyh-onesecondBottom{
        width: 1000px;
        margin: 0 auto;
        height: 528px;
    }
    .zyh-oneTopP{
        text-align: center;
        font-family: 微软雅黑;
        word-wrap: break-word;
        word-break: break-all !important;
        overflow-wrap: normal !important;
    }
    .zyh-oneTopPFirst{
        letter-spacing: 3px;
        font-size: 36px;
        color: #393939;
        margin-bottom: 20px;
    }
    .zyh-oneTopPSecond{
        text-align: center;
        letter-spacing: 1px;
        font-size: 16px;
        color: #494949;
    }
    .zyh-oneTopPSpan{
        font-family: 黑体;
        word-wrap: break-word;
        word-break: break-all !important;
        overflow-wrap: normal !important;
    }
    /*onesecond结束*/
}
@media only screen and (max-width: 992px){
    /*banner开始*/
    .zyh-banner {
        width: 100%;
        position: relative;
    }

    .zyh-background-video {
        width: 100%;
        height: 850px;
        object-fit: cover;
        object-position: center center;
    }

    .zyh-bannerIn {
        width: 100%;
        height: 850px;
        background-color: rgba(48, 38, 38, 0.7);
        position: absolute;
        top: 0px;
    }

    .zyh-container {
        width: 1200px;
        height: 374px;
        margin: 0 auto;
        margin-top: 160px;
    }

    .zyh-text {
        font-family: 微软雅黑;
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        color: #c3c3c3;
    }

    .zyh-text-first {
        margin-left: 815px;
        margin-bottom: -5px;
    }

    .zyh-text-second {
        margin-left: 789px;
    }

    .zyh-tSecond {
        width: 351px;
        height: auto;
        font-size: 22px;
        color: #c3c3c3;
        letter-spacing: 2px;
        text-align: center;
        margin-left: 800px;
    }

    .zyh-tSecondTop {
        margin-top: 70px;
    }

    .zyh-tSecondBottom {
        margin-bottom: 53px;
    }

    .zyh-button {
        width: 281px;
        height: 62px;
        border: 1px solid #FFFFFF;
        font-size: 22px;
        text-align: center;
        line-height: 62px;
        color: white;
        margin-left: 834px;
        transition: 0.5s;
        letter-spacing: 5px;
        cursor: pointer;
    }

    .zyh-button:hover {
        width: 281px;
        height: 62px;
        border: 1px solid transparent;
        background-color: white;
        font-size: 22px;
        text-align: center;
        line-height: 62px;
        color: rgb(117, 117, 117);
        margin-left: 834px;
        letter-spacing: 5px;
        cursor: pointer;
    }

    .zyh-decline {
        width: 29px;
        height: 17px;
        cursor: pointer;
        background-image: url("./images/jt.png");
        background-size: 100% 100%;
        margin: 0 auto;
        margin-top: 206px;
    }

    /*banner结束*/
    /*responsive开始*/
    .zyh-responsive {
        width: 100%;
    }

    .zyh-responsiveIn {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .zyh-responsiveTop {
        width: 278px;
        height: 134px;
        margin: 0 auto;
        margin-top: 110px;
    }

    .zyh-resBotImg {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        height: 725px;
    }

    .zyh-resPFirst {
        font-size: 44px;
        color: #494949;
        letter-spacing: 1px;
        font-family: 微软雅黑;
    }

    .zyh-respFSpan {
        font-family: 黑体;
        /*letter-spacing: 0px;*/
    }

    .zyh-responsiveBottom {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    }

    /*responsive结束*/
}